h1 {
	text-align: center;
}
.ui-menu {
	max-width: 200px;
}
.ui-menu .ui-menu-item {
	list-style-image: none;
}

#menuContainer {
	width: 57%;
	margin-left: 40%;
	min-height: 500px;
	border: dashed 1px #dddddd;
	padding: 10px;
}
#menuPanelTool {
	border: dashed 1px #dddddd;
	background-color: #eaeaea;
	display: inline-block;
	width: 36vw;
	padding: 10px;
	position: fixed;
	top: 110px;
	left: 1vw;
}
